<html>

<head>
  <title>壹方助残管理系统</title>
  <link href="../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
  <link href="../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
  <script src="../../lib/angular/angularjs1.4.6.js"></script>
</head>

<body>
  <div class="container">
    <div ng-app="myApp" ng-controller="siteCtrl">
      <div class="title-wrap">
        <div class="title"><img src="../../lib/images/insert.png" alt=""></div>
        <div class="title">受助人员需求录入</div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">受助人姓名</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="real_name" autofocus>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">监护人姓名</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="guardianName">
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">监护人电话</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="guardianPhone">
          </div>
        </div>

      </div>

      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">服务开始日期</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="startDate">
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">服务截止日期</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="endDate">
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">服务内容</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="serverItem">
          </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">家属户</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model="isFamily">
              <option>是</option>
              <option>否</option>
            </select>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">居住人口</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="resident">
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">疾病史</div>
          <div class="query-type-input"  style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="illness">
          </div>
        </div>
      </div>

      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">备注</div>
          <div class="query-type-input"
            style="width:540px;  border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="specification" style="width: 500px;">
          </div>
        </div>
      </div>

      <button class="query-button" id="mybutton" ng-click="save()">提交</button>
    </div>
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function ($scope, $http) {

      $scope.save = function () {

        let my_paras = {
          real_name: $scope.real_name,
          guardianName: $scope.guardianName,
          guardianPhone: $scope.guardianPhone,
          resident: $scope.resident,
          startDate: $scope.startDate,
          isFamily: $scope.isFamily,
          illness: $scope.illness,
          serverItem: $scope.serverItem,
          serverPeriod: $scope.serverPeriod,
          endDate: $scope.endDate,
          specification: $scope.specification
        }


        $http({
          method: 'POST',
          url: '/demand/savedemand',
          params: my_paras,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        }).success(function (response) {
          console.log(response)
          if (JSON.parse(response.resp_data)._id) {
            alert("录入信息成功")
          }
        })


      };


    });



  </script>
</body>

</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->