<html>
<head>
  <title>壹方助残管理系统</title>
  <link href="../../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" /> 
  <link href="../../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script> 
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div class="container">
<div ng-app="myApp" ng-controller="siteCtrl"> 
      <div class="title-wrap">
          <div class="title"><img src="../../lib/images/insert.png" alt=""></div> 
          <div class="title">受助人员信息</div> 
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >受助人姓名</div>
            <div class="query-type-input">
                <input type="text" class="input-wrap" ng-model=disabled.real_name>
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >区域</div>
            <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=disabled.district>
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">性别</div>
          <div class="query-type-input">
                  <select class="input-wrap" ng-model = disabled.sex>
                    <option>男</option>
                    <option>女</option>
                  </select>
          </div>
      </div>
        <div class="query-wrap">
            <div class="query-type-title" >用户类型</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model = disabled.userType>
            </div>
        </div>
    </div>
    <div class="query-form">
      <div class="query-wrap">
          <div class="query-type-title" >伤残等级</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model = disabled.disabledClass>
              <option>一级</option>
              <option>二级</option>
              <option>三级</option>
              <option>四级</option>
              <option>不详</option>
            </select>
          </div>
      </div>
      <div class="query-wrap">
          <div class="query-type-title" >身份证</div>
          <div class="query-type-input">
          <input type="text" class="input-wrap" ng-model=disabled.idCard>
          </div>
      </div>
      <div class="query-wrap">
        <div class="query-type-title" >现居地址</div>
        <div class="query-type-input">
        <input type="text" class="input-wrap" ng-model=disabled.address>
        </div>
      </div>
      <div class="query-wrap">
          <div class="query-type-title" >联系方式</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
          <input type="text" class="input-wrap" ng-model=disabled.disabledContact>
          </div>
      </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >住房面积</div>
            <div class="query-type-input">
                <input type="text" class="input-wrap" ng-model=disabled.area>
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >家庭结构</div>
            <div class="query-type-input">
              <select class="input-wrap" ng-model = disabled.familyStructure>
                <option>依老养残</option>
                <option>一户多残</option>
                <option>残养小</option>
                <option>单亲家庭</option>
                <option>独居</option>
                <option>孤老</option>
              </select>
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title" >家属情况</div>
          <div class="query-type-input">
          <input type="text" class="input-wrap" ng-model=disabled.familySituation>
          </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >户口所在地</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=disabled.registerAddr >
            </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >人户分离状态</div>
            <div class="query-type-input">
              <select class="input-wrap" ng-model = disabled.registerStatus>
                <option>人户一致</option>
                <option>人户分离,属同区</option>
                <option>人户分离,属外区</option>
                <option>不详</option>
              </select>
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >服务人员姓名</div>
            <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=disabled.assistantName >
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title" >服务人员性别</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model = disabled.assistantSex>
              <option>男</option>
              <option>女</option>
            </select>
          </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >服务人员电话</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=disabled.assistantContact >
            </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >备注</div>
            <div class="query-type-input" style="width:540px;  border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model = disabled.specification style="width: 500px;" >
            </div>
        </div>
      </div>

      <button class="query-button"  id="mybutton" ng-show="isupdate"  ng-click="update()" >修改</button>
  </div>  
</div><!--end of container-->



<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    if(parseInt("<%= role %>") == 0){
      $scope.isupdate = true
    }else{
      $scope.isupdate = false
    }
    console.log($scope.isupdate);
    $http({
          method : 'POST',
          url : '/disabled/getdisabledbyname',
          params :{real_name:"<%=real_name%>"} ,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.disabled = JSON.parse(response.resp_data).data[0];
          console.log(response)          
        })

    $scope.update = function(){
      let my_paras = {
        real_name:$scope.disabled.real_name,
        district:$scope.disabled.district,
        sex:$scope.disabled.sex,
        userType:$scope.disabled.userType,
        disabledClass:$scope.disabled.disabledClass,
        idCard:$scope.disabled.idCard,
        address:$scope.disabled.address,
        disabledContact:$scope.disabled.disabledContact,
        area:$scope.disabled.area,
        familyStructure:$scope.disabled.familyStructure,
        familySituation:$scope.disabled.familySituation,
        registerAddr:$scope.disabled.registerAddr,
        registerStatus:$scope.disabled.registerStatus,
        assistantName:$scope.disabled.assistantName,
        assistantSex:$scope.disabled.assistantSex,
        assistantContact:$scope.disabled.assistantContact,
        specification:$scope.disabled.specification
      }
      $http({
          method : 'POST',
          url : '/disabled/updatedisabledbyname',
          params :my_paras,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data).stats.updated == 1){
              alert("修改成功") 
            }     
        })

    }


  });

  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->