<html>
<head>
  <title>壹方助残管理系统</title>
  <link href="../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" /> 
  <link href="../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script> 
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div class="container">
<div ng-app="myApp" ng-controller="siteCtrl"> 
      <div class="title-wrap">
          <div class="title"><img src="../../lib/images/insert.png" alt=""></div> 
          <div class="title">受助人员录入</div> 
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >受助人姓名</div>
            <div class="query-type-input">
                <input type="text" class="input-wrap" ng-model="real_name" autofocus>
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >区域</div>
            <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="district" >
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">性别</div>
          <div class="query-type-input">
                  <select class="input-wrap" ng-model = "sex">
                    <option>男</option>
                    <option>女</option>
                  </select>
          </div>
      </div>
        <div class="query-wrap">
            <div class="query-type-title" >用户类型</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model = "userType" >
            </div>
        </div>
    </div>
    <div class="query-form">
      <div class="query-wrap">
          <div class="query-type-title" >伤残等级</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model = "disabledClass">
              <option>一级</option>
              <option>二级</option>
              <option>三级</option>
              <option>四级</option>
              <option>不详</option>
            </select>
          </div>
      </div>
      <div class="query-wrap">
          <div class="query-type-title" >身份证</div>
          <div class="query-type-input">
          <input type="text" class="input-wrap" ng-model="idCard" >
          </div>
      </div>
      <div class="query-wrap">
        <div class="query-type-title" >现居地址</div>
        <div class="query-type-input">
        <input type="text" class="input-wrap" ng-model="address" >
        </div>
      </div>
      <div class="query-wrap">
          <div class="query-type-title" >联系方式</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
          <input type="text" class="input-wrap" ng-model="disabledContact" >
          </div>
      </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >住房面积</div>
            <div class="query-type-input">
                <input type="text" class="input-wrap" ng-model="area" >
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >家庭结构</div>
            <div class="query-type-input">
              <select class="input-wrap" ng-model = "familyStructure">
                <option>依老养残</option>
                <option>一户多残</option>
                <option>残养小</option>
                <option>单亲家庭</option>
                <option>独居</option>
                <option>孤老</option>
              </select>
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title" >家属情况</div>
          <div class="query-type-input">
          <input type="text" class="input-wrap" ng-model="familySituation">
          </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >户口所在地</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="registerAddr" >
            </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >人户分离状态</div>
            <div class="query-type-input">
              <select class="input-wrap" ng-model = "registerStatus">
                <option>人户一致</option>
                <option>人户分离,属同区</option>
                <option>人户分离,属外区</option>
                <option>不详</option>
              </select>
            </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >服务人员姓名</div>
            <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model="assistantName" >
            </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title" >服务人员性别</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model = "assistantSex">
              <option>男</option>
              <option>女</option>
            </select>
          </div>
        </div>
        <div class="query-wrap">
            <div class="query-type-title" >服务人员电话</div>
            <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="assistantContact" >
            </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
            <div class="query-type-title" >备注</div>
            <div class="query-type-input" style="width:540px;  border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model = "specification" style="width: 500px;" >
            </div>
        </div>
      </div>

      <button class="query-button"  id="mybutton" ng-click="save()" >提交</button>
  </div>  
</div><!--end of container-->


<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {
    $scope.save = function() {
      let my_paras = {
        real_name:$scope.real_name,
        district:$scope.district,
        sex:$scope.sex,
        userType:$scope.userType,
        disabledClass:$scope.disabledClass,
        idCard:$scope.idCard,
        address:$scope.address,
        disabledContact:$scope.disabledContact,
        area:$scope.area,
        familyStructure:$scope.familyStructure,
        familySituation:$scope.familySituation,
        registerAddr:$scope.registerAddr,
        registerStatus:$scope.registerStatus,
        assistantName:$scope.assistantName,
        assistantSex:$scope.assistantSex,
        assistantContact:$scope.assistantContact,
        specification:$scope.specification
      }

      
        $http({
          method : 'POST',
          url : '/disabled/savedisabled',
          params :my_paras,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data)._id){
              alert("录入信息成功") 
            }     
        })

        
    };


  });

</script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->