<!DOCTYPE html>
<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" media="all" href="../stylesheets/style.css">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<div ng-app="myApp" ng-controller="siteCtrl"> 

  <div class="container">

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">受助人员姓名</label>
        <input type="text" ng-model = disabled.real_name   class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">区域</label>
        <input type="text" ng-model = disabled.district   class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">性别</label>
        <select class="form-control" ng-model = disabled.sex>
          <option>男</option>
          <option>女</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">用户类型</label>
        <select class="form-control" ng-model = disabled.userType>
          <option>精神</option>
          <option>智力</option>
          <option>视力</option>
          <option>听力</option>
          <option>肢体</option>
          <option>多重</option>
          <option>不详</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">伤残等级</label>
        <select class="form-control" ng-model = disabled.disabledClass>
          <option>一级</option>
          <option>二级</option>
          <option>三级</option>
          <option>四级</option>
          <option>不详</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">身份证</label>
        <input type="text" ng-model = disabled.idCard  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">现居住地址</label>
        <input type="text" ng-model = disabled.address  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">联系方式</label>
        <input type="text" ng-model = disabled.disabledContact  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">住房面积</label>
        <input type="text" ng-model = disabled.area  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">家庭结构</label>
        <select class="form-control"  ng-model=disabled.familyStructure>
          <option>依老养残</option>
          <option>一户多残</option>
          <option>残养小</option>
          <option>单亲家庭</option>
          <option>独居</option>
          <option>孤老</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">家属情况</label>
        <input type="text" ng-model = disabled.familySituation  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">户口所在地</label>
        <input type="text" ng-model = disabled.registerAddr  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">人户分离状态</label>
        <select class="form-control"  ng-model = disabled.registerStatus>
          <option>人户一致</option>
          <option>人户分离,属同区</option>
          <option>人户分离,属外区</option>
          <option>不详</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务人员姓名</label>
        <input type="text" ng-model = disabled.assistantName class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务人员性别</label>
        <input type="text" ng-model = disabled.assistantSex   class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务人员联系方式</label>
        <input type="text" ng-model = disabled.assistantContact  class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">备注</label>
        <textarea  ng-model = disabled.distspecificationict class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" type="button" ng-show="isupdate" ng-click="update()" >修改</button>
    </form>

</div>

  </div>
  <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>



<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    if(parseInt("<%= role %>") == 0){
      $scope.isupdate = true
    }else{
      $scope.isupdate = false
    }
    console.log($scope.isupdate);
    $http({
          method : 'POST',
          url : '/disabled/getdisabledbyname',
          params :{real_name:"<%=real_name%>"} ,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.disabled = JSON.parse(response.resp_data).data[0];
          console.log(response)          
        })

    $scope.update = function(){
      let my_paras = {
        real_name:$scope.disabled.real_name,
        district:$scope.disabled.district,
        sex:$scope.disabled.sex,
        userType:$scope.disabled.userType,
        disabledClass:$scope.disabled.disabledClass,
        idCard:$scope.disabled.idCard,
        address:$scope.disabled.address,
        disabledContact:$scope.disabled.disabledContact,
        area:$scope.disabled.area,
        familyStructure:$scope.disabled.familyStructure,
        familySituation:$scope.disabled.familySituation,
        registerAddr:$scope.disabled.registerAddr,
        registerStatus:$scope.disabled.registerStatus,
        assistantName:$scope.disabled.assistantName,
        assistantSex:$scope.disabled.assistantSex,
        assistantContact:$scope.disabled.assistantContact,
        specification:$scope.disabled.specification
      }
      $http({
          method : 'POST',
          url : '/disabled/updatedisabledbyname',
          params :my_paras,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data).stats.updated == 1){
              alert("修改成功") 
            }     
        })

    }


  });

  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->