<!DOCTYPE html>
<html>
<head>
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style>
  body
  {
    background-color:rgb(92,16,91);
  }
  .container{
    background-image: url(../images/loginBG.png);
    width: 1000px;
    height: 600px;
    margin-top: 120px;

  }
  .login{
    position: relative;
    left: 550px;
    top: 230px;
    width: 350px;
    height: 320px;

  }
</style>
</head>
<body>
<div ng-app="myApp" ng-controller="siteCtrl"> 
  <div class="container">
      <div class="login">
        <form>
          <div class="form-group">
            <input type="text" required="required" ng-model="username" class="form-control"  autofocus placeholder="用户名">
          </div>
          <div class="form-group">
            <input type="password" required="required" ng-model="password" class="form-control" ng-keyup="enterEvent($event)" placeholder="密码">
          </div>
          <div class="alert alert-danger" ng-show= "loginerror">{{errorinfo}}</div>
    
          <button class="btn btn-primary" type="button" ng-click="login()" >登录</button>
        </form>
      </div>

  </div>
</div>
  <script type="text/javascript" src="./jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>



<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {
    $scope.enterEvent = function(e) {
        var keycode = window.event?e.keyCode:e.which;
        if(keycode==13){
            $scope.login();
        }
    }

    $scope.loginerror = false;
    $scope.login = function() {

      if(!$scope.username || !$scope.password){
        $scope.loginerror = true;
        $scope.errorinfo = "用户名或密码不能为空";
        return
      }else{
        $scope.loginerror = false;
      }
      
      let my_paras = {
        username:$scope.username,
        password:$scope.password
      } 
        $http({
          method : 'POST',
          url : '/users/login',
          params :my_paras,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            if(response.data.length > 0){
              location.href='/'; 
            }else{
              $scope.loginerror = true;
              $scope.errorinfo = "用户名或密码不正确";
            }    
        })

        
    };


  });



  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->