<!DOCTYPE html>
<html lang="en">
<head>
  <title>壹方助残后台管理系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/style.css">
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
  </head>
  
  <div ng-app="myApp" ng-controller="siteCtrl"> 
    <div class="topnav">
      <a href="/">首页</a>&nbsp;&nbsp;&nbsp; <%= username %> &nbsp;&nbsp;&nbsp; <a href= "/users/loginout">注销</a>
  </div>
  <div class="logo"></div>

  <div class="container">
    <form action="" class="form-horizontal"  role="form">
        <fieldset>
            <legend>服务人员打卡记录查询</legend>
            <div class="form-group">
              <label for="name">请输入服务人员姓名</label>
              <input type="text" ng-model="real_name" class="form-control" id="name" placeholder="请输入名称">
            </div>
            
            
			<div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label">开始时间</label>
                <input type="date" value=""  class="form-control" ng-model="startTime"/>
				<input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
            <div class="form-group">
              <label for="dtp_input2" class="col-md-2 control-label">结束时间</label>
              <input type="date" value=""  class="form-control" ng-model="endTime"/>
    
          </div>
        </fieldset>
    </form>
    <button id="fat-btn" class="btn btn-primary" ng-click="query()"  type="button"> 查询</button>


    <table class="table">
      <caption>服务人员打卡记录,累计工作 <span style="color: red;font-size: 18px;">  {{totaltime}}</span>  个小时</caption>
      <thead>
        <tr>
          <th>姓名</th>
          <th>服务对象</th>
          <th>上班时间</th>
          <th>下班时间</th>
          <th>两次打卡距离差(米)</th>
          <th>工作时长(小时)</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in results">
          <td>{{ x.real_name }}</td>
          <td>{{ x.cus_name }}</td>
          <td>{{ x.on_duty_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{ x.off_duty_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{ x.coordinate}}</td>
          <td>{{ x.timediff }}</td>
        </tr>

      </tbody>
    </table>
</div>
<div class="footer">
  扶老助残&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;志在壹方
</div>
  
  </div>
  <script type="text/javascript" src="./jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>

<script>
  function GetDistance( lat1,  lng1,  lat2,  lng2){
      var radLat1 = lat1*Math.PI / 180.0;
      var radLat2 = lat2*Math.PI / 180.0;
      var a = radLat1 - radLat2;
      var  b = lng1*Math.PI / 180.0 - lng2*Math.PI / 180.0;
      var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
      Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
      s = s *6378.137 ;// EARTH_RADIUS;
      s = Math.round(s * 10000) / 10000;
      return s;
  }

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    //修改日期栏的默认时间
    let today = new Date();
    const year = today.getFullYear()
    const month = today.getMonth() + 1
    const month_next = today.getMonth() + 2


    $scope.real_name = "";
    //$scope.startTime = year + '-' + month + '-' +  '1';
    //$scope.endTime = year + '-' + month_next + '-' +  '1';
    //console.log(GetDistance(112,30,116,32))

    $scope.query = function() {
      $scope.results = '';
        $http({
          method : 'POST',
          url : '/getrecord',
          params :{real_name: $scope.real_name,startTime:$scope.startTime,endTime:$scope.endTime} ,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){

            let obj= JSON.parse(response.resp_data).data

            let totaltime = 0;
            for(let i = 0;i< obj.length;i++){
              //以下计算工作时长
              let off_duty_time = obj[i].off_duty_time;
              let on_duty_time = obj[i].on_duty_time;
              if(!on_duty_time || !off_duty_time){
                obj[i].timediff = '打卡异常'
                continue;
              } 
              let temp_diff =((new Date(off_duty_time).getTime() - new Date(on_duty_time).getTime())/3600/1000).toFixed(3)  //工作时长
              obj[i].timediff = temp_diff
              //----计算工作时长结束

              //以下开始计算两次打卡之间的坐标距离
              let lng1 = obj[i].location1.coordinates[0]
              let lng2 = obj[i].location2.coordinates[0]
              let lat1 = obj[i].location1.coordinates[1]
              let lat2 = obj[i].location2.coordinates[1]
              if(lng1 && lng2){  //两个坐标都有记录
              obj[i].coordinate = GetDistance( lat1,  lng1,  lat2,  lng2)*1000
              }else{
                obj[i].coordinate = '数据缺失'
              }
              //计算两次打卡之间距离结束

              //累计工作时长
              totaltime = totaltime + parseFloat(temp_diff);
            }

            $scope.results = obj;
            $scope.totaltime=totaltime;
            
          
        })
    };

  });



  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->