<!DOCTYPE html>
<html lang="en">
<head>
  <title>壹方助残后台管理系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/style.css">
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
  </head>
  
  <div ng-app="myApp" ng-controller="siteCtrl"> 
    <div class="topnav">
      <a href="/">首页</a>&nbsp;&nbsp;&nbsp;  <a href= "/users/loginout">注销</a>
  </div>
  <div class="logo"></div>

  <div class="container">
    <form action="" class="form-horizontal"  role="form">
        <fieldset>
            <legend>受助人员查询</legend>
              <div class="form-group">
                <label for="exampleInputEmail1">选择查询方式</label>
                <select class="form-control"  ng-model="queryType">
                <option>受助人姓名</option>
                <option>受助人区域</option>
                <option>服务人姓名</option>
                </select>
            </div>
            <div class="form-group">
              <label for="name">请输入:<span style="color:red">{{queryType}} </span></label>
              <input type="text" ng-model="querycontent" class="form-control" id="name" placeholder="请输入名称">
            </div>
        </fieldset>
    </form>
    <button id="fat-btn" class="btn btn-primary" ng-click="query()"  type="button"> 查询</button>


    <table class="table">
      <caption>受助人员信息</caption>
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>区域</th>
          <th>现居住地址</th>
          <th>联系方式</th>
          <th>服务人姓名</th>
          <th>服务人电话</th>
          <th>需求信息</th>
          <th>详细信息</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in disabled">
          <td>{{ x.real_name }}</td>
          <td>{{ x.sex }}</td>
          <td>{{ x.district }}</td>
          <td>{{ x.address }}</td>
          <td>{{ x.disabledContact }}</td>
          <td>{{ x.assistantName }}</td>
          <td>{{ x.assistantContact }}</td>
          <td><a href = "/demand/showdemand?real_name={{x.real_name}}" target="_blank">查看</a></td>
          <td><a href = "/disabled/showdisableddetail?real_name={{x.real_name}}" target="_blank">查看</a></td>
        </tr>

      </tbody>
    </table>

</div>
<div class="footer">
  扶老助残&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;志在壹方
</div>
  </div>
  <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

<script>
  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) { 
    $scope.query = function() {
        let reqUrl ='';
        let reqData={};
        console.log($scope.queryType)
        if($scope.queryType == '受助人姓名'){
          reqUrl = '/disabled/getdisabledbyname';
          reqData.real_name = $scope.querycontent;
        }
        if($scope.queryType == '受助人区域'){
          reqUrl = '/disabled/getdisabledsbydistrict';
          reqData.district = $scope.querycontent;
        }
        if($scope.queryType == '服务人姓名'){
          reqUrl = '/disabled/getalldisabledsbyassistant';
          reqData.assistantName = $scope.querycontent;
        }
        $http({
          method : 'POST',
          url : reqUrl,
          params :reqData,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.disabled = JSON.parse(response.resp_data).data;
          console.log(response)          
        })
    };
  });
  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/demand/getdemandbyname',
  params :{real_name:$scope.real_name} ,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){       
  $scope.demand = JSON.parse(response.resp_data).data;
  
})
-->