<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/style.css">
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
  </head>
  
  <div ng-app="myApp" ng-controller="siteCtrl"> 

  <div class="container">
    <form action="" class="form-horizontal"  role="form">
        <fieldset>
            <div class="form-group">
              <label for="name">请输入受助人员姓名</label>
              <input type="text" ng-model="real_name" class="form-control" id="name" placeholder="请输入名称">
            </div>
        </fieldset>
    </form>
    <button id="fat-btn" class="btn btn-primary" ng-click="query()"  type="button"> 查询</button>


    <table class="table">
      <caption>受助人员需求信息</caption>
      <thead>
        <tr>
          <th>姓名</th>
          <th>监护人姓名</th>
          <th>监护人电话</th>
          <th>居住人口</th>
          <th>开始服务日期</th>
          <th>截止服务日期</th>
          <th>服务时间</th>
          <th>服务内容</th>
          <th>家属户</th>
          <th>疾病史</th>
          <th>备注</th>
          <th>修改</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in demand">
          <td>{{ x.real_name }}</td>
          <td>{{ x.guardianName }}</td>
          <td>{{ x.guardianPhone }}</td>
          <td>{{ x.resident }}</td>
          <td>{{ x.startDate | date:'yyyy-MM-dd'}}</td>
          <td>{{ x.endDate | date:'yyyy-MM-dd'}}</td>
          <td>{{ x.serverPeriod }}</td>
          <td>{{ x.serverItem }}</td>
          <td>{{ x.isFamily }}</td>
          <td>{{ x.illness }}</td>
          <td>{{ x.specification }}</td>
          <td><a href="/demand/updatedemand?real_name={{x.real_name}}" target="_blank">修改</a></td>
        </tr>

      </tbody>
    </table>
</div>
  </div>
  <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>


<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {


    $scope.query = function() {
      console.log( $scope.real_name)
        $http({
          method : 'POST',
          url : '/demand/getdemandbyname',
          params :{real_name: $scope.real_name} ,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.demand = JSON.parse(response.resp_data).data;
          console.log(response)  
          
        })
    };

  });



  </script>
</body>
</html>
