<html>

<head>
  <title>壹方助残管理系统</title>
  <link href="../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
  <link href="../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
</head>

<div class="container">
  <div class="title-wrap">
    <div class="title"><img src="../../lib/images/query.png" alt=""></div>
    <div class="title">服务人员查询</div>
  </div>
  <div class="query-form">
    <div class="query-wrap">
      <div class="query-type-title">服务人员姓名</div>
      <div class="query-type-input">
        <input type="text" class="input-wrap" id="real_name" autofocus>
      </div>
    </div>
    <div class="query-wrap">
      <div class="query-type-title">身份证</div>
      <div class="query-type-input">
        <input type="text" class="input-wrap" id="idCard">
      </div>
    </div>
    <div class="query-wrap">
      <div class="query-type-title">联系方式</div>
      <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
        <input type="text" class="input-wrap" id="contact">
      </div>
    </div>
  </div>
  <button class="query-button" id="myreset">重置</button>
  <button class="query-button" id="mybutton">查询</button>
  <div id="maingrid"></div>
</div>

<script>
  
    $(function () {

      $.post("/assistant/initAssistants", {},
        function (response, status) {
          var griddata = JSON.parse(response.resp_data).data;
          for (let i = 0; i < griddata.length; i++) {
            griddata[i].update = "<a href= '/assistant/updateassistant?real_name=" + griddata[i].real_name + "'>修改</a>"
          }
          var grid = $("#maingrid").ligerGrid({
            columns: [
              { name: 'update', display: '操作' },
              { name: 'real_name', display: '姓名' },
              { name: 'contact', display: '联系方式' },
              { name: 'address', display: '居住地址' },
              { name: 'registerAddr', display: '户口所在地' },
              { name: 'certificate', display: '证书' },
              { name: 'serverNum', display: '服务户数' },
              { name: 'workSeniority', display: '工作年限' },
              { name: 'insurance', display: '保险' },
              { name: 'bankCard', display: '银行卡号' },
              { name: 'disableds', display: '备注' } //{ name: 'disableds', display: '管理对象'}
            ],
            data: { Rows: griddata },
            pageSize: 20,
            minColumnWidth: 200
          });
        })
    })

    $("#myreset").click(function () {
 
      $("#real_name").val("");
      $("#idCard").val("");
      $("#contact").val("");
    })
    $("#mybutton").click(function () {
      let sum = 0;
      let reqbody = {};
      let real_name = $("#real_name").val();
      let idCard = $("#idCard").val();
      let contact = $("#contact").val();
      if (real_name) {
        sum++;
        reqbody.real_name = real_name;
      }
      if (idCard) {
        sum++;
        reqbody.idCard = idCard;
      }
      if (contact) {
        sum++;
        reqbody.contact = contact;
      }
      if (sum == 1) {
        console.log(contact)
        $.post("/assistant/getassistants", reqbody,
          function (response, status) {
            var griddata = JSON.parse(response.resp_data).data;
            for (let i = 0; i < griddata.length; i++) {
              griddata[i].update = "<a href= '/assistant/updateassistant?real_name=" + griddata[i].real_name + "'>修改</a>"
            }
            var grid = $("#maingrid").ligerGrid({
              columns: [
                { name: 'update', display: '操作' },
                { name: 'real_name', display: '姓名' },
                { name: 'contact', display: '联系方式' },
                { name: 'address', display: '居住地址' },
                { name: 'registerAddr', display: '户口所在地' },
                { name: 'certificate', display: '证书' },
                { name: 'serverNum', display: '服务户数' },
                { name: 'workSeniority', display: '工作年限' },
                { name: 'insurance', display: '保险' },
                { name: 'bankCard', display: '银行卡号' },
                { name: 'disableds', display: '备注' } //{ name: 'disableds', display: '管理对象'}
              ],
              data: { Rows: griddata },
              pageSize: 20,
              minColumnWidth: 200
            });
            //alert("数据: \n" + data + "\n状态: " + status);
          });
      } else alert("每次查询只能输入一个字段")

    });
</script>
</body>

</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->