<!DOCTYPE html>
<html>
<head>
  <title>服务人员信息录入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/style.css">
  <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
  </head>
  
  <div ng-app="myApp" ng-controller="siteCtrl"> 
    <div class="topnav">
      <a href="/">首页</a>&nbsp;&nbsp;&nbsp;  <a href= "/users/loginout">注销</a>
  </div>
  <div class="logo"></div>

  <div class="container">

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">服务人员姓名</label>
        <input type="text" required="required" ng-model = assistant.real_name class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">身份证号</label>
        <input type="text" required="required" ng-model=assistant.id_card class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">居住地址</label>
        <input type="text" ng-model=assistant.address class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">户口所在地</label>
        <input type="text" ng-model=assistant.register_addr class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">证书</label>
        <input type="text" ng-model=assistant.certificate class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务户数</label>
        <input type="text" ng-model=assistant.server_num class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">工作年限</label>
        <input type="text" ng-model=assistant.work_seniority class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">保险</label>
        <input type="text" ng-model=assistant.insurance class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">银行卡号</label>
        <input type="text" ng-model=assistant.bank_card class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">备注</label>
        <textarea ng-model=assistant.specification class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" type="button" ng-show="{{isupdate}}" ng-click="update()" >提交</button>
    </form>

</div>

<div class="footer">
  扶老助残&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;志在壹方
</div>  
  </div>
  <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>



<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    if("<%= role %>" == 0){
      $scope.isupdate = true
    }else{
      $scope.isupdate = false
    }
    
    $http({
          method : 'POST',
          url : '/assistant/getassistantbyname',
          params :{real_name:"<%=real_name%>"} ,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.assistant = JSON.parse(response.resp_data).data[0];         
        })

    $scope.update = function() {
      let my_paras = {
        real_name:$scope.assistant.real_name,
        id_card:$scope.assistant.id_card,
        address:$scope.assistant.address,
        register_addr:$scope.assistant.register_addr,
        certificate:$scope.assistant.certificate,
        server_num:$scope.assistant.server_num,
        work_seniority:$scope.assistant.work_seniority,
        insurance:$scope.assistant.insurance,
        bank_card:$scope.assistant.bank_card,
        specification:$scope.assistant.specification
      }

      
        $http({
          method : 'POST',
          url : '/assistant/updateassistantbyname',
          params :my_paras,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data).stats.updated == 1){
              alert("修改成功") 
            }    
        })

        
    };


  });



  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->