<html>

<head>
  <title>壹方助残管理系统</title>
  <link href="../../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
  <link href="../../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
  <script src="../../lib/angular/angularjs1.4.6.js"></script>
</head>

<body>
  <div class="container">
    <div ng-app="myApp" ng-controller="siteCtrl">
      <div class="title-wrap">
        <div class="title"><img src="../../lib/images/insert.png" alt=""></div>
        <div class="title">受助人员需求信息</div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">受助人姓名</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=demand.real_name>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">监护人姓名</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=demand.guardianName>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">监护人电话</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=demand.guardianPhone>
          </div>
        </div>

      </div>


      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">监护人身份证</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=demand.guardianID>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">家属户</div>
          <div class="query-type-input">
            <select class="input-wrap" ng-model=demand.isFamily>
              <option>是</option>
              <option>否</option>
            </select>
          </div>
        </div>

        <div class="query-wrap">
          <div class="query-type-title">疾病史</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=demand.illness>
          </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">服务开始日期</div>
          <div class="query-type-input">
            <input type="date" class="input-wrap" ng-model=demand.startDate>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">服务截止日期</div>
          <div class="query-type-input">
            <input type="date" class="input-wrap" ng-model=demand.endDate>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">服务内容</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=demand.serverItem>
          </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">居住人口</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=demand.resident>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">备注</div>
          <div class="query-type-input"
            style="width:540px;  border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="specification" style="width: 500px;">
          </div>
        </div>
      </div>

      <button class="query-button" id="mybutton" ng-show="isupdate" ng-click="update()">修改</button>

    </div>
  </div>

  <script>

    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function ($scope, $http) {
      console.log("<%= role %>" == 0)
      if ("<%= role %>" == 0) {
        $scope.isupdate = true
      } else {
        $scope.isupdate = false
      }

      $http({
        method: 'POST',
        url: '/demand/getdemandbyname',
        params: { real_name: "<%=real_name%>" },
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
      }).success(function (response) {
        console.log(response.resp_data)
        $scope.demand = JSON.parse(response.resp_data).data[0];
        if ($scope.demand) {
          if ($scope.demand.startDate) $scope.demand.startDate = new Date($scope.demand.startDate)
          if ($scope.demand.endDate) $scope.demand.endDate = new Date($scope.demand.endDate)
        }else $scope.demand ={real_name:"<%=real_name%>"} 

      })

      $scope.update = function () {
        let my_paras = {
          real_name: $scope.demand.real_name,
          guardianName: $scope.demand.guardianName,
          guardianPhone: $scope.demand.guardianPhone,
          resident: $scope.demand.resident,
          startDate: $scope.demand.startDate,
          isFamily: $scope.demand.isFamily,
          illness: $scope.demand.illness,
          serverItem: $scope.demand.serverItem,
          serverPeriod: $scope.demand.serverPeriod,
          endDate: $scope.demand.endDate,
          guardianID: $scope.demand.guardianID,
          specification: $scope.demand.specification
        }
        $http({
          method: 'POST',
          url: '/demand/updatedemandbyname',
          params: my_paras,
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        }).success(function (response) {
          console.log(response)
          if (JSON.parse(response.resp_data).stats.updated == 1) {
            alert("修改成功")
          }
        })


      };


    });



  </script>
</body>

</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->