<html>
<head>
  <title>壹方助残管理系统</title>
  <link href="../../lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" /> 
  <link href="../../lib/css/jyq.css" rel="stylesheet" media="screen">
  <script src="../../lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
  <script src="../../lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script> 
  <script src="../../lib/angular/angularjs1.4.6.js"></script>
</head>
<body>
<div class="container">
<div ng-app="myApp" ng-controller="siteCtrl"> 
      <div class="title-wrap">
          <div class="title"><img src="../../lib/images/insert.png" alt=""></div> 
          <div class="title">服务人员修改</div> 
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">姓名</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.real_name>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">联系方式</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.contact>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">身份证号</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=assistant.idCard>
          </div>
        </div>

      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">居住地址</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.address>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">证书</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.certificate>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">服务户数</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=assistant.serverNum>
          </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">工作年限</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.workSeniority>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">保险</div>
          <div class="query-type-input">
            <input type="text" class="input-wrap" ng-model=assistant.insurance>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">银行卡号</div>
          <div class="query-type-input" style="border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model=assistant.bankCard>
          </div>
        </div>
      </div>
      <div class="query-form">
        <div class="query-wrap">
          <div class="query-type-title">户口所在地</div>
          <div class="query-type-input" >
            <input type="text" class="input-wrap" ng-model=assistant.registerAddr>
          </div>
        </div>
        <div class="query-wrap">
          <div class="query-type-title">备注</div>
          <div class="query-type-input"
            style="width:540px;  border-style: solid;border-width:1px;border-color: rgb(163, 192, 232);">
            <input type="text" class="input-wrap" ng-model="specification" style="width: 500px;">
          </div>
        </div>
      </div>
      <button class="query-button"  id="mybutton" ng-click="update()" >修改</button>
    </div>
  </div>

<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    if("<%= role %>" == 0){
      $scope.isupdate = true
    }else{
      $scope.isupdate = false
    }
    
    $http({
          method : 'POST',
          url : '/assistant/getassistantbyname',
          params :{real_name:"<%=real_name%>"} ,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){       
          $scope.assistant = JSON.parse(response.resp_data).data[0];         
        })

    $scope.update = function() {
      let my_paras = {
        real_name:$scope.assistant.real_name,
        contact:$scope.assistant.contact,
        idCard:$scope.assistant.idCard,
        address:$scope.assistant.address,
        registerAddr:$scope.assistant.registerAddr,
        certificate:$scope.assistant.certificate,
        server_num:$scope.assistant.server_num,
        workSeniority:$scope.assistant.workSeniority,
        insurance:$scope.assistant.insurance,
        bankCard:$scope.assistant.bankCard,
        specification:$scope.assistant.specification
      }

      
        $http({
          method : 'POST',
          url : '/assistant/updateassistantbyname',
          params :my_paras,  //{real_name: '韩梅梅',startTime:'2020-01-01',endTime:'2020-04-09'}
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data).stats.updated == 1){
              alert("修改成功") 
            }    
        })

        
    };


  });



  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->