<!DOCTYPE html>
<html>
<head>
  <title>受助人员需求信息录入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
  <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
  <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<style type="text/css">
  .container {margin-top:10px;}
  </style>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<div ng-app="myApp" ng-controller="siteCtrl"> 

  <div class="container">

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">受助人员姓名</label>
        <input type="text" ng-model=demand.real_name class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">监护人姓名</label>
        <input type="text"  ng-model=demand.guardianName class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">监护人电话</label>
        <input type="text" ng-model=demand.guardianPhone class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">居住人口</label>
        <input type="text" ng-model=demand.resident class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">开始服务日期</label>
        <input type="date" ng-model=demand.startDate  class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">家属户</label>
        <select ng-model = demand.isFamily class="form-control" >
          <option>是</option>
          <option>否</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">疾病史</label>
        <input type="text" ng-model=demand.illness class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务内容</label>
        <input type="text" ng-model=demand.serverItem class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">服务时间</label>
        <input type="text"  ng-model=demand.serverPeriod class="form-control" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">截止服务日期</label>
        <input type="date" ng-model=demand.endDate  class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">备注</label>
        <textarea ng-model=demand.specification class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" type="button" ng-show="{{isupdate}}" ng-click="update()" >修改</button>
    </form>

</div>

  
  </div>
  <script type="text/javascript" src="../jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>



<script>

  var app = angular.module('myApp', []);    
  app.controller('siteCtrl', function($scope, $http) {

    if("<%= role %>" == 0){
      $scope.isupdate = true
    }else{
      $scope.isupdate = false
    }
    
    $http({
          method : 'POST',
          url : '/demand/getdemandbyname',
          params :{real_name:"<%=real_name%>"} ,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
   
          $scope.demand =  JSON.parse(response.resp_data).data[0];
          $scope.demand.startDate = new Date($scope.demand.startDate)
          $scope.demand.endDate = new Date($scope.demand.endDate)
          console.log($scope.demand)      
        })

    $scope.update = function() {
        let my_paras = {
        real_name:$scope.demand.real_name,
        guardianName:$scope.demand.guardianName,
        guardianPhone:$scope.demand.guardianPhone,
        resident:$scope.demand.resident,
        startDate:$scope.demand.startDate,
        isFamily:$scope.demand.isFamily,
        illness:$scope.demand.illness,
        serverItem:$scope.demand.serverItem,
        serverPeriod:$scope.demand.serverPeriod,
        endDate:$scope.demand.endDate,
        specification:$scope.demand.specification
      }
        $http({
          method : 'POST',
          url : '/demand/updatedemandbyname',
          params :my_paras,  
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
          }).success(function(response){
            console.log(response)
            if(JSON.parse(response.resp_data).stats.updated == 1){
              alert("修改成功") 
            }   
        })

        
    };


  });



  </script>
</body>
</html>

<!--
$http({
  method : 'POST',
  url : '/querydraw',
  params :{drawname: $scope.querysome,blockname:$scope.params.blockname},
  headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
  }).success(function(response){
  $scope.drawings =response.rows;
  $scope.pagenum=[];
})
-->