<html>
<head>
    <style type="text/css">
        body{
            background-image: url("../../lib/images/home_page.png") ;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;

        }
    </style>
</head>

<body>

</body>
</html>