
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  color: #00B7FF;
}

.logo{
  position:absolute;
  left:0px;
  top:10px;
  z-index:999;
  height: 30px;
  width: 100px;
  background-image: url('../images/logo.png');
}
/* 导航条 */
.topnav {
  width: 100%;
  height: 40px;
  background-color: rgb(31, 68, 139);
  line-height: 40px;
  position: fixed;
  text-align: right;
  top: 0px;
  padding-right: 30px;
  z-index:888;
  color: aliceblue;
}
.topnav a{
  color: antiquewhite;
}

.container{
  margin-top: 45px;
}

/* 创建三个相等的列 */
.row {
  display: flex;
  flex:1;
  margin:40px 10px;
}
 
.footer{
  width: 100%;
  height: 50px;
  background-color: rgb(245, 246, 245);
  text-align: center;
  line-height: 50px;
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  font-size: 16px;
}
